/* By Jonathon McDonald
 ***********************/
.orange { color: #ff8a00 !important; }
.green { color: #89b100 !important; }

.orange-header { color: orange !important; } 
.page-og-header { line-height: 30px;}

.light-green { color: #b1c651; }
.bigger { font-size: 20px; font-weight: lighter;}
.call-attention { font-size: 40px; font-weight: lighter; color: orange; letter-spacing: 10px;}

/* FRONT PAGE SPECIFICS */

h1.call-to-action {
	font-size: 28px;
	font-weight: bold;
	text-align: center;
	line-height: 32px;
}

h3.red {
	color: red;
}

.pink {
	color: #BD394C;
}

.burgundy { color: #4c1b23; }

.tabbed {
margin-left: 20px;
}

.post_date{
background: #B1C651;
}

.month {
color: #FFF !important;
}

span.wpcf7-not-valid-tip {
left: 2%;
top: -8px;
background: none;
border: none;
color: red;
}

div.wpcf7-validation-errors {
clear: both;
}

div.wpcf7-mail-sent-ok {
clear: both;
}

/* For the cart */
.chzn-results{ max-height: 80px; }
.chzn-single {
height: 28px;
line-height: 29px;
}
.form-row-last {
float:left;
}
.col-1 {
margin-bottom: 50px;
}

#payment_method_stripe {
display: none;
}

.centered { text-align: center;}
.blue-h3 {font-size: 24px; color: #00176a; font-style: italic; font-weight: bolder; line-height: 26px;}
.red-h3 {font-size: 24px; color: #fc1d00; font-weight: bolder; line-height: 26px;}
.p-red { color: #fc1d00;}
.module-header{background-color: #00176A; display: inline-block; width: 100%; text-align: center; font-size: 24px; color: #FFF; padding: 10px; line-height: 26px; margin-top: 5px; margin-bottom: 5px;}
.legal { font-size: 8px; font-style: italic;}

p
{
	font-size: 1.3em;
}

#payment-options 
{
	display: inline-block;
	width: 97%;
}

#payment-option-1
{
	width: 47%;
	float: left;
}

#payment-option-2
{
	width: 47%;
	float: right;
}

li
{
    font-size: 1.3em;
}

li.menu-item
{
	font-size: 14px;
}

.header-area .wpcf7-not-valid-tip
{
	left: 100% !important;
	color: #FFF !important;
}

.header-area .wpcf7-validation-errors
{
	display: inline-block !important;
	position: absolute !important;
	margin-top: -190px;
	margin-left: -100px;
	color: white;
}

.cart_totals table
{
	float: right;
}