/* By Jonathon McDonald
 ***********************/

.orange-header { color: orange !important; } 
.page-og-header { line-height: 30px;}

.light-green { color: #b1c651; }
.bigger { font-size: 20px; font-weight: lighter;}
.call-attention { font-size: 40px; font-weight: lighter; color: orange; letter-spacing: 10px;}

/* FRONT PAGE SPECIFICS */

h1.call-to-action {
	font-size: 28px;
	font-weight: bold;
	text-align: center;
}

h3.red {
	color: red;
}

.pink {
	color: #BD394C;
}